body {
	margin: 0px;
	width: 750px;
	height: 1334px;
	background: #000000;
	background-image: url("files/wallpaper.jpg");
	background-size: 375px 667px;
	background-repeat: no-repeat;
}

#clock {
	height: 700px;
	width: 700px;
	top: 10px;
	margin-left: 25px;
	position: absolute;
}

	#hour0 {
		height: 40px;
		width: 40px;
		left: 330px;
		top: 20px;
		position: absolute;
		background: #ffffff;
		border-radius:50% 50% 50% 50%;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(222,247,244,1);
	}

	#hour1 {
		height: 40px;
		width: 40px;
		left: 507px;
		top: 66px;
		position: absolute;
		background: #ffffff;
		border-radius:50% 50% 50% 50%;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(222,247,244,1);
	}

	#hour2 {
		height: 40px;
		width: 40px;
		left: 643px;
		top: 194px;
		position: absolute;
		background: #ffffff;
		border-radius:50% 50% 50% 50%;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(222,247,244,1);
	}

	#hour3 {
		height: 40px;
		width: 40px;
		left: 680px;
		top: 366px;
		position: absolute;
		background: #ffffff;
		border-radius:50% 50% 50% 50%;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(222,247,244,1);
	}

	#hour4 {
		height: 40px;
		width: 40px;
		left: 643px;
		top: 546px;
		position: absolute;
		background: #ffffff;
		border-radius:50% 50% 50% 50%;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(222,247,244,1);
	}

	#hour5 {
		height: 40px;
		width: 40px;
		left: 507px;
		top: 675px;
		position: absolute;
		background: #ffffff;
		border-radius:50% 50% 50% 50%;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(222,247,244,1);
	}

	#hour6 {
		height: 40px;
		width: 40px;
		left: 330;
		top: 720px;
		position: absolute;
		background: #ffffff;
		border-radius:50% 50% 50% 50%;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(222,247,244,1);
	}

	#hour7 {
		height: 40px;
		width: 40px;
		left: 156;
		top: 675px;
		position: absolute;
		background: #ffffff;
		border-radius:50% 50% 50% 50%;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(222,247,244,1);
	}

	#hour8 {
		height: 40px;
		width: 40px;
		left: 27;
		top: 546px;
		position: absolute;
		background: #ffffff;
		border-radius:50% 50% 50% 50%;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(222,247,244,1);
	}


	#hour9 {
		height: 40px;
		width: 40px;
		left: -20px;
		top: 366px;
		position: absolute;
		background: #ffffff;
		border-radius:50% 50% 50% 50%;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(222,247,244,1);
	}

	#hour10 {
		height: 40px;
		width: 40px;
		left: 27px;
		top: 194px;
		position: absolute;
		background: #ffffff;
		border-radius:50% 50% 50% 50%;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(222,247,244,1);
	}

	#hour11 {
		height: 40px;
		width: 40px;
		left: 156px;
		top: 66px;
		position: absolute;
		background: #ffffff;
		border-radius:50% 50% 50% 50%;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(222,247,244,1);
	}

	#minutes {

	}